<div class="block_top">
    <div class="overlay"></div>
    <div class="wrapper">
        <div class="block_top_text text_log">
            ММА КЛУБ ЛЮТЬ
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="block_info_title text_title">
        Інформація
    </div>
    <div class="block_info">
        <div class="block_info_schedule">
            <div class="block_info_schedule_title text_title">
                Графік тренувань:
            </div>
            <div class="block_info_schedule_text">
                <div class="block_info_schedule_text_block">
                    <div class="block_info_schedule_text_top text">Понеділок</div>
                    <ul>
                        <li class="text">Дитяча группа: 15:00-16:00</li>
                        <li class="text">Середня группа: 16:30-18:00</li>
                        <li class="text">Доросла группа: 18:00-20:00</li>
                    </ul>
                </div>
                <div class="block_info_schedule_text_block">
                    <div class="block_info_schedule_text_top text">Середа</div>
                    <ul>
                        <li class="text">Дитяча группа: 15:00-16:00</li>
                        <li class="text">Середня группа: 16:30-18:00</li>
                        <li class="text">Доросла группа: 18:00-20:00</li>
                    </ul>
                </div>
                <div class="block_info_schedule_text_block">
                    <div class="block_info_schedule_text_top text">Суббота</div>
                    <ul>
                        <li class="text">Дитяча группа: 15:00-16:00</li>
                        <li class="text">Середня группа: 16:30-18:00</li>
                        <li class="text">Доросла группа: 18:00-20:00</li>
                    </ul> 
                </div>
                <div class="block_info_schedule_text_block">
                    <div class="block_info_schedule_text_top text">Ціни</div>
                    <ul>
                        <li class="text">Разове - 80 грн.</li>
                        <li class="text">Абонімент - 700 грн.</li>
                    </ul> 
                </div>
            </div>
        </div>
        <div class="block_info_location">
            <div class="block_info_location_container_map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10570.845616037675!2d36.0561474!3d48.5195968!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dec08fc0760595%3A0x1c59a538ca6b5e99!2z0KHQtdGA0LXQtNC90Y8g0LfQsNCz0LDQu9GM0L3QvtC-0YHQstGW0YLQvdGPINGI0LrQvtC70LAg4oSWIDc!5e0!3m2!1suk!2sua!4v1688300801511!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>