<header>
    <div class="wrapper">
      <div class="logo">
        <a href="#"><div class="text_log">ЛЮТЬ</div></a> 
       </div>
       <div class="nav_link">
         <ul>
           <!-- <li><a class="text" href="">Тенер</a></li> -->
           <li><a class="text" href="/subscribtion">Ваші абоніменти</a></li>
         </ul>
       </div>
    </div>
  </header>
  <router-outlet></router-outlet>
  
  <footer>
    <div class="wrapper">
      <div class="contanct_trener">
        <ul>
          <li class="text">Номер телефону тренера: +380000000</li>
          <li class="text">Адреса спортзалу: вулиця Перемоги, 17А, Тернівка, Дніпропетровська область, 51500</li>
        </ul>
      </div>
    </div>
  </footer>