form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 69vh;
}
.form_input{
    display: flex;
    flex-direction: column-reverse;
    margin: 25px 0;
}
.formbold-input-flex{
    width: 100%;
    max-width: 350px;
}

